# Fichiers de configuration
config/config.php
# Documents numériques
files/*
!files/cr
# Images
photos/*
!photos/bureau
!photos/equipes
!photos/equipes
!photos/photoWeek
photos/photoWeek/*
# Projet Aptana
.project