/* LE CLUB */

p.p_intro {
	line-height: 17px;
	font-size : 1.1em;
	text-align: justify;
}
p.p_intro span{
	display: inline-block;
	text-indent: 40px ;
}
/* Entrainements */
table#t_entrainements {
	margin: auto;
	width: 680px;
	text-align: center;
	border-collapse: separate;
	border-spacing: 10px 3px;
}
table#t_entrainements  thead{
}
table#t_entrainements  th{
	border: 1px solid #03638A;
	background-color: #FFCC66;
	font-weight: bold;
	padding: 10px;
}
table#t_entrainements  td{
	padding: 1px;
	border: 1px solid #03638A;
	font-weight: normal;
	vertical-align: middle;
}
table#t_entrainements .th_heures{
	width: 7%;
	background-color: transparent;	
	border: none;
}
table#t_entrainements .td_heures{
	font-size: 0.9em;
	font-weight: bold;
	text-align: left;
	border-right: none;
	border-left: none;
	border-top: none;
	border-bottom: none;
	vertical-align: top;
}
table#t_entrainements .td_mardi{
	width: 23%;
}
table#t_entrainements  .td_mercredi{
	width: 23%;
} 
table#t_entrainements  .td_jeudi{
	width: 23%;
} 
table#t_entrainements  .td_vendredi{
	width: 23%;
} 
table#t_entrainements  .td_vide{
	border: none;
}
table#t_entrainements  .td_competition{
	background-color: #CC3333;
}
table#t_entrainements  .td_libre{
	background-color: #66CDAA;
}
table#t_entrainements  .td_jeune{
	background-color: #FF6633;
}
table#t_entrainements  .td_loisir{
	background-color: #87CEFA;
}
table#t_entrainements   .td_short{
	width: 15%;
}
  
/* FIN LE CLUB */