/* STYLES PAGES */

*{margin:0;padding:0;}

body #tinymce{
	font-size: 0.9em;
	margin: 10px;
}
p {
	font-size: 1em;
}
h1 {
	font-size: 1.6em;
	font-style: bold;
}
h2 {
	font-size: 1.3em;
	font-style: bold;
}
h3 {
	font-size: 1.1em;
	font-style: bold;
}
.note {
	display: block;
	text-align: center;
	margin: 10px;
	padding: 10px;
	border: 1px solid #03638a;
	color: #03638a;
	background-color: rgb(210,232,250);	
}
.important {
	display: block;
	text-align: center;
	margin: 10px;
	padding: 10px;
	border: 1px solid red;
	color: #CC0000;
	background-color: #FFCCCC;	
}



